<div th:fragment="brand-logo-area" class="brand-logo-area pb-100 about-brand-logo">
    <div class="container">
        <div class="brand-logo-active owl-carousel owl-dot-none">
            <div class="single-brand-logo">
                <img src="assets/img/brand-logo/barnd-logo-1.png" alt="">
            </div>
            <div class="single-brand-logo">
                <img src="assets/img/brand-logo/barnd-logo-2.png" alt="">
            </div>
            <div class="single-brand-logo">
                <img src="assets/img/brand-logo/barnd-logo-3.png" alt="">
            </div>
            <div class="single-brand-logo">
                <img src="assets/img/brand-logo/barnd-logo-4.png" alt="">
            </div>
            <div class="single-brand-logo">
                <img src="assets/img/brand-logo/barnd-logo-5.png" alt="">
            </div>
        </div>
    </div>
</div>